[submodule "mythr-prism-front"]
	path = mythr-prism-front
	url = https://github.com/paveldelpozo/mythr-prism-front.git
[submodule "mythr-prism-back"]
	path = mythr-prism-back
	url = https://github.com/paveldelpozo/mythr-prism-back.git
